@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("@/assets/fonts/Roboto-VariableFont.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("@/assets/fonts/Roboto-Italic-VariableFont.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("@/assets/fonts/NotoSans-VariableFont.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("@/assets/fonts/NotoSans-Italic-VariableFont.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;

  color: var(--color-text-primary);
  background-color: var(--color-background-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@theme {
  --spacing: 1px;

  --color-background-active: #7d76f8;
  --color-background-primary: #121223;
  --color-border-container: #2a2a3e;
  --color-border-disabled: #26293d;
  --color-border-modal: #5e679e;
  --color-button-primary: #3f3b78;
  --color-sidebar: #16161f;
  --color-table-background: #1d1d26;
  --color-table-hover: #171728;
  --color-text-primary: #c4c4c4;
  --color-text-secondary: #7a7a7a7a;
  --color-text-secondary: #a0a0a0;
  --color-text-selected: #7d76f8;
}
