@import "tailwindcss";
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@theme {
  --spacing: 1px;

  --color-sidebar: #241933ff;
  --color-background-primary: #191025ff;
  --color-text-primary: #c4c4c4ff;
  --color-border-disabled: #26293dff;
  --color-text-selected: #7d76f8ff;
  --color-background-active: #7d76f8ff;
  --color-text-secondary: #a0a0a0ff;
  --color-border-container: #29272cff;
}
