@import "tailwindcss";
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;

  color: var(--color-text-primary);
  background-color: var(--color-background-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@theme {
  --spacing: 1px;

  --color-sidebar: #16161f;
  --color-background-primary: #121223;
  --color-text-primary: #c4c4c4;
  --color-text-secondary: #7a7a7a7a;
  --color-border-disabled: #26293d;
  --color-text-selected: #7d76f8;
  --color-background-active: #7d76f8;
  --color-text-secondary: #a0a0a0;
  --color-border-container: #2a2a3e;
  --color-table-background: #2a2a3e;
  --color-table-hover: #171728;
}
